.optionCol {
  box-shadow: 2px 2px 2px 2px lightgrey;
  margin: 15px;
  font-family: 'Slackey', cursive;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
  background-color: whitesmoke;
}

img {
  width: 60%;
}

.scoreboardRow {
  font-family: 'Bangers', cursive;
  background: -webkit-gradient(linear, 65% 46%, 28% 97%, from(#C8E026), to(#6BDB16), color-stop(.6, #3A4014));
  color: #231d1d;
  text-shadow: 1px 1px #c8e026;
  padding-bottom: 15px;
  padding-top: 15px;
}

.optionCol:hover {
  cursor: pointer;
}

.jumbotron {
  background: -webkit-gradient(linear, 65% 46%, 28% 97%, from(#6BDB16), to(#C8E026), color-stop(.6, #3A4014));
  box-shadow: 1px 1px 1px 1px darkgrey;
  color: #231d1d;
  text-shadow: 1px 1px #c8e026;
  font-family: 'Bangers', cursive;
}

.paperCol {
  background: -webkit-gradient(linear, 21% 6%, 53% 100%, from(#61a91a), to(#BCCBE0));
}

.paperCol:hover {
  animation: pulsePaper 0.6s infinite alternate;
  animation-timing-function: ease-in-out;
}

.rockCol {
  background: -webkit-gradient(linear, 21% 6%, 53% 100%, from(#F70000), to(#BCCBE0));
}

.rockCol:hover {
  animation: pulseRock 0.6s infinite alternate;
  animation-timing-function: ease-in-out;
}

.scissorCol {
  background: -webkit-gradient(linear, 21% 6%, 53% 100%, from(#6495ed), to(#BCCBE0));
  ;
}

.scissorCol:hover {
  animation: pulseScissor 0.6s infinite alternate;
  animation-timing-function: ease-in-out;
}

@keyframes pulseRock {
  0% {
    box-shadow: 2px 2px 2px 1px red;
  }
  25% {
    box-shadow: 2px 2px 3px 1px red;
  }
  50% {
    box-shadow: 4px 4px 4px 1px red;
  }
  75% {
    box-shadow: 5px 5px 5px 1px red;
  }
  100% {
    box-shadow: 5px 5px 6px 1px red;
  }
}

@keyframes pulsePaper {
  0% {
    box-shadow: 2px 2px 2px 1px forestgreen;
  }
  25% {
    box-shadow: 2px 2px 3px 1px forestgreen;
  }
  50% {
    box-shadow: 4px 4px 4px 1px forestgreen;
  }
  75% {
    box-shadow: 5px 5px 5px 1px forestgreen;
  }
  100% {
    box-shadow: 5px 5px 6px 1px forestgreen;
  }
}

@keyframes pulseScissor {
  0% {
    box-shadow: 2px 2px 2px 1px cornflowerblue;
  }
  25% {
    box-shadow: 2px 2px 3px 1px cornflowerblue;
  }
  50% {
    box-shadow: 4px 4px 4px 1px cornflowerblue;
  }
  75% {
    box-shadow: 5px 5px 5px 1px cornflowerblue;
  }
  100% {
    box-shadow: 5px 5px 6px 1px cornflowerblue;
  }
}

.stats {
  font-size: 20px;
}

.optionsContainer {
  padding-bottom: 20px;
}

.modal {
  font-family: 'Bangers', cursive;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-header {
  border-bottom: 0px;
}

.modal-footer {
  border-top: 0px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
  text-decoration: none;
}

.btn {
  background: -webkit-gradient(linear, 65% 46%, 28% 97%, from(#6BDB16), to(#C8E026), color-stop(.6, #3A4014));
  border: 0px;
}

.btn:hover {
  opacity: 0.8;
  box-shadow: 1px 1px 1px 1px darkgrey;
}

.humanWinsModal {
  background-color: #c8e026;
  text-shadow: 1px 1px #7edc1b;
}

.computerWinsModal {
  background-color: #7edc1b;
  text-shadow: 1px 1px #c8e026;
}

@media screen and (max-width: 400px) {
  .display-3 {
    font-size: 2.5rem;
  }
  .scores {
    font-size: 1.5rem;
  }
  .stats {
    font-size: 10px;
  }
  .optionCol {
    width: 150px;
    margin: 5px;
  }
  .optionCol:hover {
    z-index: 1;
  }
  .optionText {
    font-size: 1.15rem;
  }
  img {
    width: 100%
  }
  .optionsRow {
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
  }
}